In [3]:
import pandas as pd

In [16]:
df = pd.read_csv(r'C:\Users\praga\OneDrive\Desktop\DataViz\datasets\datasets\gradedata.csv')

In [17]:
df['name']=df['lname']+' ' +df['fname']

In [18]:
df = df.sort_values(by=['name', 'age','grade'],ascending=[True, True, True])

In [19]:
df.head()

,fname,lname,gender,age,exercise,hours,grade,address,name
819,Athena,Acevedo,female,15,4,12,90.0,"8392 Euclid Ave., Miami, FL 33125",Acevedo Athena
1458,Cedric,Acevedo,male,19,5,14,98.8,"50 Vine Lane, Derby, KS 67037",Acevedo Cedric
1770,Leandra,Acevedo,female,14,1,15,94.4,"51 Central Drive, South Windsor, CT 06074",Acevedo Leandra
1439,Levi,Acevedo,male,14,2,6,63.0,"87 Cooper Ave., Westland, MI 48185",Acevedo Levi
762,Rhiannon,Acevedo,female,15,3,10,72.7,"451 Pendergast Street, Bartlett, IL 60103",Acevedo Rhiannon