In [3]:
import pandas as pd

In [4]:
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]

In [7]:
df=pd.DataFrame()

In [10]:
#Creating dataframe
df['names']=names
df['grades']=grades
df['bsdegrees']=bsdegrees
df['msdegrees']=msdegrees
df['phddegrees']=phddegrees

In [12]:
#Mean of all columns of dataframe
df.mean()

grades        85.0
bsdegrees      0.6
msdegrees      0.6
phddegrees     0.2
dtype: float64

In [22]:
#Mode, most repetitive values.
df['grades'].mode()

0    76
1    77
2    78
3    95
4    99
dtype: int64

In [23]:
df['bsdegrees'].mode()

0    1
dtype: int64

In [24]:
df['msdegrees'].mode()

0    0
dtype: int64

In [25]:
df['phddegrees'].mode()

0    0
dtype: int64

In [26]:
df.median() #Median

grades        78.0
bsdegrees      1.0
msdegrees      0.0
phddegrees     0.0
dtype: float64

In [27]:
df.quantile(.25) #First quartile

grades        77.0
bsdegrees      0.0
msdegrees      0.0
phddegrees     0.0
Name: 0.25, dtype: float64

In [29]:
df.quantile(.5) #Second quartile

grades        78.0
bsdegrees      1.0
msdegrees      0.0
phddegrees     0.0
Name: 0.5, dtype: float64

In [30]:
df.quantile(.75) #Third quartile

grades        95.0
bsdegrees      1.0
msdegrees      1.0
phddegrees     0.0
Name: 0.75, dtype: float64

In [31]:
df.std() #Standard deviation

grades        11.067972
bsdegrees      0.547723
msdegrees      0.894427
phddegrees     0.447214
dtype: float64

In [32]:
df.min() #Minimum value of each column

names         Bob
grades         76
bsdegrees       0
msdegrees       0
phddegrees      0
dtype: object

In [33]:
df.max() #Maximum value of each column

names         Mel
grades         99
bsdegrees       1
msdegrees       2
phddegrees      1
dtype: object